.elementor-1692 .elementor-element.elementor-element-4f74f23b{--spacer-size:58px;}.elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button:hover, .elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button:hover svg, .elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1692 .elementor-element.elementor-element-fe445ec > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1692 .elementor-element.elementor-element-88dddb7{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1692 .elementor-element.elementor-element-88dddb7 .elementor-divider-separator{width:100%;}.elementor-1692 .elementor-element.elementor-element-88dddb7 .elementor-divider{padding-top:28px;padding-bottom:28px;}.elementor-1692 .elementor-element.elementor-element-7600b803{text-align:center;}.elementor-1692 .elementor-element.elementor-element-7600b803 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-size:59px;font-weight:600;}.elementor-1692 .elementor-element.elementor-element-23778e07{text-align:center;}.elementor-1692 .elementor-element.elementor-element-23778e07 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:600;}.elementor-1692 .elementor-element.elementor-element-3d773178 .wpr-featured-media-wrap{text-align:center;}.elementor-1692 .elementor-element.elementor-element-3d773178 .wpr-featured-media-image{width:279px;}.elementor-1692 .elementor-element.elementor-element-3d773178 .wpr-featured-media-image img{width:100%;}.elementor-1692 .elementor-element.elementor-element-3d773178 .wpr-featured-media-caption span{color:#333333;background-color:#ffffff;padding:5px 10px 5px 10px;margin:10px 10px 10px 10px;border-style:none;border-radius:3px 3px 3px 3px;}.elementor-1692 .elementor-element.elementor-element-3d773178 .wpr-featured-media-caption{transition-duration:0.1s;align-items:flex-end;justify-content:center;}.elementor-1692 .elementor-element.elementor-element-af9cf29{--spacer-size:50px;}.elementor-1692 .elementor-element.elementor-element-63bb2dfc{text-align:center;}.elementor-1692 .elementor-element.elementor-element-63bb2dfc .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1692 .elementor-element.elementor-element-63bb2dfc > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1692 .elementor-element.elementor-element-51e972ba > .elementor-container{max-width:1600px;}.elementor-1692 .elementor-element.elementor-element-29397bca{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1692 .elementor-element.elementor-element-29397bca .elementor-divider-separator{width:100%;}.elementor-1692 .elementor-element.elementor-element-29397bca .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1692 .elementor-element.elementor-element-34f907b0 > .elementor-container{max-width:1000px;}.elementor-1692 .elementor-element.elementor-element-708b38b8{text-align:center;}.elementor-1692 .elementor-element.elementor-element-708b38b8 .elementor-heading-title{color:#FFFFFF;font-family:"Teko", Sans-serif;font-size:21px;font-weight:600;}.elementor-1692 .elementor-element.elementor-element-708b38b8 > .elementor-widget-container{margin:-19px 0px 0px 0px;}.elementor-1692 .elementor-element.elementor-element-39168f77 > .elementor-container{max-width:1117px;}.elementor-1692 .elementor-element.elementor-element-2c41fd2b{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1692 .elementor-element.elementor-element-2c41fd2b .elementor-divider-separator{width:100%;}.elementor-1692 .elementor-element.elementor-element-2c41fd2b .elementor-divider{padding-top:38px;padding-bottom:38px;}.elementor-1692 .elementor-element.elementor-element-dff2ef{text-align:center;}.elementor-1692 .elementor-element.elementor-element-dff2ef .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1692 .elementor-element.elementor-element-1599ff2e .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1692 .elementor-element.elementor-element-1599ff2e .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1692 .elementor-element.elementor-element-1599ff2e .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-1599ff2e .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1692 .elementor-element.elementor-element-1599ff2e .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1692 .elementor-element.elementor-element-1599ff2e .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-3e40bbbf{text-align:center;}.elementor-1692 .elementor-element.elementor-element-3e40bbbf .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1692 .elementor-element.elementor-element-38e63ce7 .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1692 .elementor-element.elementor-element-38e63ce7 .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1692 .elementor-element.elementor-element-38e63ce7 .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-38e63ce7 .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1692 .elementor-element.elementor-element-38e63ce7 .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1692 .elementor-element.elementor-element-38e63ce7 .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-2f2ca8ba{text-align:center;}.elementor-1692 .elementor-element.elementor-element-2f2ca8ba .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1692 .elementor-element.elementor-element-4cf41e29 .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1692 .elementor-element.elementor-element-4cf41e29 .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1692 .elementor-element.elementor-element-4cf41e29 .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-4cf41e29 .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1692 .elementor-element.elementor-element-4cf41e29 .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1692 .elementor-element.elementor-element-4cf41e29 .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-29a08fb6 > .elementor-container{max-width:500px;}.elementor-1692 .elementor-element.elementor-element-52bbde04 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1692 .elementor-element.elementor-element-52bbde04 .elementor-button:hover, .elementor-1692 .elementor-element.elementor-element-52bbde04 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-52bbde04 .elementor-button:hover svg, .elementor-1692 .elementor-element.elementor-element-52bbde04 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1692 .elementor-element.elementor-element-52bbde04 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1692 .elementor-element.elementor-element-3e3328f0 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1692 .elementor-element.elementor-element-3e3328f0 .elementor-button:hover, .elementor-1692 .elementor-element.elementor-element-3e3328f0 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1692 .elementor-element.elementor-element-3e3328f0 .elementor-button:hover svg, .elementor-1692 .elementor-element.elementor-element-3e3328f0 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1692 .elementor-element.elementor-element-3e3328f0 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1692 .elementor-element.elementor-element-4ac2f61{--spacer-size:342px;}@media(min-width:768px){.elementor-1692 .elementor-element.elementor-element-7efc3947{width:35%;}.elementor-1692 .elementor-element.elementor-element-1f7bbe8e{width:65%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1692 .elementor-element.elementor-element-1f7bbe8e{width:63%;}}@media(min-width:1025px){.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}}@media(max-width:1024px){.elementor-1692 .elementor-element.elementor-element-1f7bbe8e > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1692 .elementor-element.elementor-element-1f7bbe8e > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 38px;}.elementor-1692 .elementor-element.elementor-element-34f907b0 > .elementor-container{max-width:600px;}.elementor-1692 .elementor-element.elementor-element-708b38b8 > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}}@media(max-width:767px){.elementor-1692 .elementor-element.elementor-element-fe445ec .elementor-button{padding:7px 7px 7px 7px;}.elementor-1692 .elementor-element.elementor-element-fe445ec > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1692 .elementor-element.elementor-element-88dddb7 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1692 .elementor-element.elementor-element-23778e07{text-align:center;}.elementor-1692 .elementor-element.elementor-element-23778e07 .elementor-heading-title{font-size:11px;}.elementor-1692 .elementor-element.elementor-element-1f7bbe8e > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-1692 .elementor-element.elementor-element-63bb2dfc > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1692 .elementor-element.elementor-element-29397bca .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1692 .elementor-element.elementor-element-34f907b0 > .elementor-container{max-width:600px;}.elementor-1692 .elementor-element.elementor-element-708b38b8 .elementor-heading-title{font-size:16px;}.elementor-1692 .elementor-element.elementor-element-708b38b8 > .elementor-widget-container{margin:-12px 0px 0px 0px;}.elementor-1692 .elementor-element.elementor-element-2c41fd2b .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1692 .elementor-element.elementor-element-dff2ef .elementor-heading-title{font-size:24px;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1692 .elementor-element.elementor-element-1599ff2e.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1692 .elementor-element.elementor-element-3e40bbbf .elementor-heading-title{font-size:24px;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1692 .elementor-element.elementor-element-38e63ce7.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1692 .elementor-element.elementor-element-2f2ca8ba .elementor-heading-title{font-size:24px;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1692 .elementor-element.elementor-element-4cf41e29.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}}/* Start custom CSS for button, class: .elementor-element-fe445ec */.elementor-1692 .elementor-element.elementor-element-fe445ec{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1692 .elementor-element.elementor-element-fe445ec a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1692 .elementor-element.elementor-element-fe445ec a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1692 .elementor-element.elementor-element-fe445ec a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1692 .elementor-element.elementor-element-fe445ec a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1692 .elementor-element.elementor-element-fe445ec a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-7600b803 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1692 .elementor-element.elementor-element-7600b803 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-23778e07 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1692 .elementor-element.elementor-element-23778e07 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-63bb2dfc *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1692 .elementor-element.elementor-element-63bb2dfc h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-dff2ef *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1692 .elementor-element.elementor-element-dff2ef h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-1599ff2e */.elementor-1692 .elementor-element.elementor-element-1599ff2e{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1692 .elementor-element.elementor-element-1599ff2e a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1692 .elementor-element.elementor-element-1599ff2e a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1692 .elementor-element.elementor-element-1599ff2e a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3e40bbbf *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1692 .elementor-element.elementor-element-3e40bbbf h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-38e63ce7 */.elementor-1692 .elementor-element.elementor-element-38e63ce7{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1692 .elementor-element.elementor-element-38e63ce7 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1692 .elementor-element.elementor-element-38e63ce7 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1692 .elementor-element.elementor-element-38e63ce7 a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-2f2ca8ba *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1692 .elementor-element.elementor-element-2f2ca8ba h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-4cf41e29 */.elementor-1692 .elementor-element.elementor-element-4cf41e29{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1692 .elementor-element.elementor-element-4cf41e29 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1692 .elementor-element.elementor-element-4cf41e29 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1692 .elementor-element.elementor-element-4cf41e29 a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-52bbde04 */.elementor-1692 .elementor-element.elementor-element-52bbde04{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1692 .elementor-element.elementor-element-52bbde04 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1692 .elementor-element.elementor-element-52bbde04 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1692 .elementor-element.elementor-element-52bbde04 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1692 .elementor-element.elementor-element-52bbde04 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1692 .elementor-element.elementor-element-52bbde04 a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-3e3328f0 */.elementor-1692 .elementor-element.elementor-element-3e3328f0{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1692 .elementor-element.elementor-element-3e3328f0 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1692 .elementor-element.elementor-element-3e3328f0 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1692 .elementor-element.elementor-element-3e3328f0 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1692 .elementor-element.elementor-element-3e3328f0 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1692 .elementor-element.elementor-element-3e3328f0 a:hover::before {
  opacity: 1;
}/* End custom CSS */