.elementor-1698 .elementor-element.elementor-element-1fbbf561{--spacer-size:58px;}.elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button:hover, .elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button:hover svg, .elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1698 .elementor-element.elementor-element-9662526 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1698 .elementor-element.elementor-element-8607398{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1698 .elementor-element.elementor-element-8607398 .elementor-divider-separator{width:100%;}.elementor-1698 .elementor-element.elementor-element-8607398 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1698 .elementor-element.elementor-element-3d429419{text-align:center;}.elementor-1698 .elementor-element.elementor-element-3d429419 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-size:59px;font-weight:600;}.elementor-1698 .elementor-element.elementor-element-209eccf{text-align:center;}.elementor-1698 .elementor-element.elementor-element-209eccf .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:600;}.elementor-1698 .elementor-element.elementor-element-48cea65f .wpr-featured-media-wrap{text-align:center;}.elementor-1698 .elementor-element.elementor-element-48cea65f .wpr-featured-media-image{width:280px;}.elementor-1698 .elementor-element.elementor-element-48cea65f .wpr-featured-media-image img{width:100%;}.elementor-1698 .elementor-element.elementor-element-48cea65f .wpr-featured-media-caption span{color:#333333;background-color:#ffffff;padding:5px 10px 5px 10px;margin:10px 10px 10px 10px;border-style:none;border-radius:3px 3px 3px 3px;}.elementor-1698 .elementor-element.elementor-element-48cea65f .wpr-featured-media-caption{transition-duration:0.1s;align-items:flex-end;justify-content:center;}.elementor-1698 .elementor-element.elementor-element-75ecacbf{--spacer-size:50px;}.elementor-1698 .elementor-element.elementor-element-6ff140d2{text-align:center;}.elementor-1698 .elementor-element.elementor-element-6ff140d2 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1698 .elementor-element.elementor-element-6ff140d2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1698 .elementor-element.elementor-element-4d13d0e4 > .elementor-container{max-width:1600px;}.elementor-1698 .elementor-element.elementor-element-65bc1e35{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1698 .elementor-element.elementor-element-65bc1e35 .elementor-divider-separator{width:100%;}.elementor-1698 .elementor-element.elementor-element-65bc1e35 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1698 .elementor-element.elementor-element-269759ab > .elementor-container{max-width:1000px;}.elementor-1698 .elementor-element.elementor-element-68e61042{text-align:center;}.elementor-1698 .elementor-element.elementor-element-68e61042 .elementor-heading-title{color:#FFFFFF;font-family:"Teko", Sans-serif;font-size:21px;font-weight:600;}.elementor-1698 .elementor-element.elementor-element-68e61042 > .elementor-widget-container{margin:-19px 0px 0px 0px;}.elementor-1698 .elementor-element.elementor-element-70eca251 > .elementor-container{max-width:1117px;}.elementor-1698 .elementor-element.elementor-element-60bcf542{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1698 .elementor-element.elementor-element-60bcf542 .elementor-divider-separator{width:100%;}.elementor-1698 .elementor-element.elementor-element-60bcf542 .elementor-divider{padding-top:38px;padding-bottom:38px;}.elementor-1698 .elementor-element.elementor-element-9b4df1a{text-align:center;}.elementor-1698 .elementor-element.elementor-element-9b4df1a .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1698 .elementor-element.elementor-element-36f86fc .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1698 .elementor-element.elementor-element-36f86fc .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1698 .elementor-element.elementor-element-36f86fc .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-36f86fc .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1698 .elementor-element.elementor-element-36f86fc .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1698 .elementor-element.elementor-element-36f86fc .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-ec16607{text-align:center;}.elementor-1698 .elementor-element.elementor-element-ec16607 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1698 .elementor-element.elementor-element-91a4baf .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1698 .elementor-element.elementor-element-91a4baf .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1698 .elementor-element.elementor-element-91a4baf .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-91a4baf .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1698 .elementor-element.elementor-element-91a4baf .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1698 .elementor-element.elementor-element-91a4baf .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-c8b5c8e{text-align:center;}.elementor-1698 .elementor-element.elementor-element-c8b5c8e .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1698 .elementor-element.elementor-element-4a19134 .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1698 .elementor-element.elementor-element-4a19134 .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1698 .elementor-element.elementor-element-4a19134 .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-4a19134 .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1698 .elementor-element.elementor-element-4a19134 .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1698 .elementor-element.elementor-element-4a19134 .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-a377887{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1698 .elementor-element.elementor-element-a377887 .elementor-divider-separator{width:100%;}.elementor-1698 .elementor-element.elementor-element-a377887 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1698 .elementor-element.elementor-element-38c1f410 > .elementor-container{max-width:500px;}.elementor-1698 .elementor-element.elementor-element-265c671 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1698 .elementor-element.elementor-element-265c671 .elementor-button:hover, .elementor-1698 .elementor-element.elementor-element-265c671 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-265c671 .elementor-button:hover svg, .elementor-1698 .elementor-element.elementor-element-265c671 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1698 .elementor-element.elementor-element-265c671 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1698 .elementor-element.elementor-element-6919e42 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1698 .elementor-element.elementor-element-6919e42 .elementor-button:hover, .elementor-1698 .elementor-element.elementor-element-6919e42 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1698 .elementor-element.elementor-element-6919e42 .elementor-button:hover svg, .elementor-1698 .elementor-element.elementor-element-6919e42 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1698 .elementor-element.elementor-element-6919e42 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1698 .elementor-element.elementor-element-18e6eb8a{--spacer-size:342px;}@media(min-width:768px){.elementor-1698 .elementor-element.elementor-element-43e0f6e3{width:35%;}.elementor-1698 .elementor-element.elementor-element-428426bb{width:65%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1698 .elementor-element.elementor-element-428426bb{width:63%;}}@media(min-width:1025px){.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}}@media(max-width:1024px){.elementor-1698 .elementor-element.elementor-element-428426bb > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1698 .elementor-element.elementor-element-428426bb > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 38px;}.elementor-1698 .elementor-element.elementor-element-269759ab > .elementor-container{max-width:600px;}.elementor-1698 .elementor-element.elementor-element-68e61042 > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}}@media(max-width:767px){.elementor-1698 .elementor-element.elementor-element-9662526 .elementor-button{padding:7px 7px 7px 7px;}.elementor-1698 .elementor-element.elementor-element-9662526 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1698 .elementor-element.elementor-element-8607398 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1698 .elementor-element.elementor-element-209eccf{text-align:center;}.elementor-1698 .elementor-element.elementor-element-209eccf .elementor-heading-title{font-size:11px;}.elementor-1698 .elementor-element.elementor-element-48cea65f .wpr-featured-media-image{width:200px;}.elementor-1698 .elementor-element.elementor-element-48cea65f .wpr-featured-media-image img{width:100%;}.elementor-1698 .elementor-element.elementor-element-428426bb > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-1698 .elementor-element.elementor-element-6ff140d2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1698 .elementor-element.elementor-element-65bc1e35 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1698 .elementor-element.elementor-element-269759ab > .elementor-container{max-width:600px;}.elementor-1698 .elementor-element.elementor-element-68e61042 .elementor-heading-title{font-size:16px;}.elementor-1698 .elementor-element.elementor-element-68e61042 > .elementor-widget-container{margin:-12px 0px 0px 0px;}.elementor-1698 .elementor-element.elementor-element-60bcf542 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1698 .elementor-element.elementor-element-9b4df1a .elementor-heading-title{font-size:24px;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1698 .elementor-element.elementor-element-36f86fc.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1698 .elementor-element.elementor-element-ec16607 .elementor-heading-title{font-size:24px;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1698 .elementor-element.elementor-element-91a4baf.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1698 .elementor-element.elementor-element-c8b5c8e .elementor-heading-title{font-size:24px;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1698 .elementor-element.elementor-element-4a19134.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1698 .elementor-element.elementor-element-a377887 .elementor-divider{padding-top:2px;padding-bottom:2px;}}/* Start custom CSS for button, class: .elementor-element-9662526 */.elementor-1698 .elementor-element.elementor-element-9662526{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1698 .elementor-element.elementor-element-9662526 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1698 .elementor-element.elementor-element-9662526 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1698 .elementor-element.elementor-element-9662526 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1698 .elementor-element.elementor-element-9662526 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1698 .elementor-element.elementor-element-9662526 a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3d429419 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1698 .elementor-element.elementor-element-3d429419 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-209eccf *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1698 .elementor-element.elementor-element-209eccf h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6ff140d2 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1698 .elementor-element.elementor-element-6ff140d2 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9b4df1a *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1698 .elementor-element.elementor-element-9b4df1a h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-36f86fc */.elementor-1698 .elementor-element.elementor-element-36f86fc{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1698 .elementor-element.elementor-element-36f86fc a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1698 .elementor-element.elementor-element-36f86fc a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1698 .elementor-element.elementor-element-36f86fc a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ec16607 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1698 .elementor-element.elementor-element-ec16607 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-91a4baf */.elementor-1698 .elementor-element.elementor-element-91a4baf{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1698 .elementor-element.elementor-element-91a4baf a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1698 .elementor-element.elementor-element-91a4baf a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1698 .elementor-element.elementor-element-91a4baf a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c8b5c8e *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1698 .elementor-element.elementor-element-c8b5c8e h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-4a19134 */.elementor-1698 .elementor-element.elementor-element-4a19134{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1698 .elementor-element.elementor-element-4a19134 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1698 .elementor-element.elementor-element-4a19134 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1698 .elementor-element.elementor-element-4a19134 a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-265c671 */.elementor-1698 .elementor-element.elementor-element-265c671{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1698 .elementor-element.elementor-element-265c671 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1698 .elementor-element.elementor-element-265c671 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1698 .elementor-element.elementor-element-265c671 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1698 .elementor-element.elementor-element-265c671 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1698 .elementor-element.elementor-element-265c671 a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-6919e42 */.elementor-1698 .elementor-element.elementor-element-6919e42{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1698 .elementor-element.elementor-element-6919e42 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1698 .elementor-element.elementor-element-6919e42 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1698 .elementor-element.elementor-element-6919e42 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1698 .elementor-element.elementor-element-6919e42 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1698 .elementor-element.elementor-element-6919e42 a:hover::before {
  opacity: 1;
}/* End custom CSS */