.elementor-1133 .elementor-element.elementor-element-3da93c6{--spacer-size:58px;}.elementor-1133 .elementor-element.elementor-element-529563e .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-1133 .elementor-element.elementor-element-529563e .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-1133 .elementor-element.elementor-element-529563e .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1133 .elementor-element.elementor-element-529563e .elementor-button:hover, .elementor-1133 .elementor-element.elementor-element-529563e .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-529563e .elementor-button:hover svg, .elementor-1133 .elementor-element.elementor-element-529563e .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1133 .elementor-element.elementor-element-529563e > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1133 .elementor-element.elementor-element-bb0be49{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1133 .elementor-element.elementor-element-bb0be49 .elementor-divider-separator{width:100%;}.elementor-1133 .elementor-element.elementor-element-bb0be49 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1133 .elementor-element.elementor-element-a5bb30d{text-align:center;}.elementor-1133 .elementor-element.elementor-element-a5bb30d .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-size:59px;font-weight:600;}.elementor-1133 .elementor-element.elementor-element-f516966{text-align:center;}.elementor-1133 .elementor-element.elementor-element-f516966 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:600;}.elementor-1133 .elementor-element.elementor-element-53489e8 .wpr-featured-media-wrap{text-align:center;}.elementor-1133 .elementor-element.elementor-element-53489e8 .wpr-featured-media-image{width:279px;}.elementor-1133 .elementor-element.elementor-element-53489e8 .wpr-featured-media-image img{width:100%;}.elementor-1133 .elementor-element.elementor-element-53489e8 .wpr-featured-media-caption span{color:#333333;background-color:#ffffff;padding:5px 10px 5px 10px;margin:10px 10px 10px 10px;border-style:none;border-radius:3px 3px 3px 3px;}.elementor-1133 .elementor-element.elementor-element-53489e8 .wpr-featured-media-caption{transition-duration:0.1s;align-items:flex-end;justify-content:center;}.elementor-1133 .elementor-element.elementor-element-23d5962{--spacer-size:50px;}.elementor-1133 .elementor-element.elementor-element-da90eba{text-align:center;}.elementor-1133 .elementor-element.elementor-element-da90eba .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1133 .elementor-element.elementor-element-da90eba > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1133 .elementor-element.elementor-element-503af00 > .elementor-container{max-width:1600px;}.elementor-1133 .elementor-element.elementor-element-8c02338{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1133 .elementor-element.elementor-element-8c02338 .elementor-divider-separator{width:100%;}.elementor-1133 .elementor-element.elementor-element-8c02338 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1133 .elementor-element.elementor-element-68f802d > .elementor-container{max-width:1000px;}.elementor-1133 .elementor-element.elementor-element-adba181{text-align:center;}.elementor-1133 .elementor-element.elementor-element-adba181 .elementor-heading-title{color:#FFFFFF;font-family:"Teko", Sans-serif;font-size:21px;font-weight:600;}.elementor-1133 .elementor-element.elementor-element-adba181 > .elementor-widget-container{margin:-19px 0px 0px 0px;}.elementor-1133 .elementor-element.elementor-element-f35b1bf > .elementor-container{max-width:1117px;}.elementor-1133 .elementor-element.elementor-element-0a0c92f{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1133 .elementor-element.elementor-element-0a0c92f .elementor-divider-separator{width:100%;}.elementor-1133 .elementor-element.elementor-element-0a0c92f .elementor-divider{padding-top:38px;padding-bottom:38px;}.elementor-1133 .elementor-element.elementor-element-716c4617{text-align:center;}.elementor-1133 .elementor-element.elementor-element-716c4617 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1133 .elementor-element.elementor-element-559ed3e .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1133 .elementor-element.elementor-element-559ed3e .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1133 .elementor-element.elementor-element-559ed3e .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-559ed3e .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1133 .elementor-element.elementor-element-559ed3e .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1133 .elementor-element.elementor-element-559ed3e .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-64550db4{text-align:center;}.elementor-1133 .elementor-element.elementor-element-64550db4 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1133 .elementor-element.elementor-element-1037f26d .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1133 .elementor-element.elementor-element-1037f26d .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1133 .elementor-element.elementor-element-1037f26d .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-1037f26d .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1133 .elementor-element.elementor-element-1037f26d .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1133 .elementor-element.elementor-element-1037f26d .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-7013ad59{text-align:center;}.elementor-1133 .elementor-element.elementor-element-7013ad59 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1133 .elementor-element.elementor-element-146d4d02 .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1133 .elementor-element.elementor-element-146d4d02 .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1133 .elementor-element.elementor-element-146d4d02 .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-146d4d02 .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1133 .elementor-element.elementor-element-146d4d02 .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1133 .elementor-element.elementor-element-146d4d02 .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-b7f5b77{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1133 .elementor-element.elementor-element-b7f5b77 .elementor-divider-separator{width:100%;}.elementor-1133 .elementor-element.elementor-element-b7f5b77 .elementor-divider{padding-top:16px;padding-bottom:16px;}.elementor-1133 .elementor-element.elementor-element-193522f5 > .elementor-container{max-width:500px;}.elementor-1133 .elementor-element.elementor-element-545b0be5 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1133 .elementor-element.elementor-element-545b0be5 .elementor-button:hover, .elementor-1133 .elementor-element.elementor-element-545b0be5 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-545b0be5 .elementor-button:hover svg, .elementor-1133 .elementor-element.elementor-element-545b0be5 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1133 .elementor-element.elementor-element-545b0be5 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1133 .elementor-element.elementor-element-41592a48 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1133 .elementor-element.elementor-element-41592a48 .elementor-button:hover, .elementor-1133 .elementor-element.elementor-element-41592a48 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1133 .elementor-element.elementor-element-41592a48 .elementor-button:hover svg, .elementor-1133 .elementor-element.elementor-element-41592a48 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1133 .elementor-element.elementor-element-41592a48 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1133 .elementor-element.elementor-element-8dac621{--spacer-size:342px;}@media(min-width:768px){.elementor-1133 .elementor-element.elementor-element-7a815fa{width:35%;}.elementor-1133 .elementor-element.elementor-element-ed223f1{width:65%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1133 .elementor-element.elementor-element-ed223f1{width:63%;}}@media(min-width:1025px){.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}}@media(max-width:1024px){.elementor-1133 .elementor-element.elementor-element-ed223f1 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1133 .elementor-element.elementor-element-ed223f1 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 38px;}.elementor-1133 .elementor-element.elementor-element-68f802d > .elementor-container{max-width:600px;}.elementor-1133 .elementor-element.elementor-element-adba181 > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}}@media(max-width:767px){.elementor-1133 .elementor-element.elementor-element-529563e .elementor-button{padding:7px 7px 7px 7px;}.elementor-1133 .elementor-element.elementor-element-529563e > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1133 .elementor-element.elementor-element-bb0be49 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1133 .elementor-element.elementor-element-f516966{text-align:center;}.elementor-1133 .elementor-element.elementor-element-f516966 .elementor-heading-title{font-size:11px;}.elementor-1133 .elementor-element.elementor-element-ed223f1 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-1133 .elementor-element.elementor-element-da90eba > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1133 .elementor-element.elementor-element-8c02338 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1133 .elementor-element.elementor-element-68f802d > .elementor-container{max-width:600px;}.elementor-1133 .elementor-element.elementor-element-adba181 .elementor-heading-title{font-size:16px;}.elementor-1133 .elementor-element.elementor-element-adba181 > .elementor-widget-container{margin:-12px 0px 0px 0px;}.elementor-1133 .elementor-element.elementor-element-0a0c92f .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1133 .elementor-element.elementor-element-716c4617 .elementor-heading-title{font-size:24px;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1133 .elementor-element.elementor-element-559ed3e.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1133 .elementor-element.elementor-element-64550db4 .elementor-heading-title{font-size:24px;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1133 .elementor-element.elementor-element-1037f26d.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1133 .elementor-element.elementor-element-7013ad59 .elementor-heading-title{font-size:24px;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1133 .elementor-element.elementor-element-146d4d02.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1133 .elementor-element.elementor-element-b7f5b77 .elementor-divider{padding-top:2px;padding-bottom:2px;}}/* Start custom CSS for button, class: .elementor-element-529563e */.elementor-1133 .elementor-element.elementor-element-529563e{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1133 .elementor-element.elementor-element-529563e a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1133 .elementor-element.elementor-element-529563e a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1133 .elementor-element.elementor-element-529563e a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1133 .elementor-element.elementor-element-529563e a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1133 .elementor-element.elementor-element-529563e a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a5bb30d *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1133 .elementor-element.elementor-element-a5bb30d h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f516966 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1133 .elementor-element.elementor-element-f516966 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-da90eba *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1133 .elementor-element.elementor-element-da90eba h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-716c4617 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1133 .elementor-element.elementor-element-716c4617 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-559ed3e */.elementor-1133 .elementor-element.elementor-element-559ed3e{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1133 .elementor-element.elementor-element-559ed3e a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1133 .elementor-element.elementor-element-559ed3e a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1133 .elementor-element.elementor-element-559ed3e a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-64550db4 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1133 .elementor-element.elementor-element-64550db4 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-1037f26d */.elementor-1133 .elementor-element.elementor-element-1037f26d{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1133 .elementor-element.elementor-element-1037f26d a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1133 .elementor-element.elementor-element-1037f26d a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1133 .elementor-element.elementor-element-1037f26d a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-7013ad59 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1133 .elementor-element.elementor-element-7013ad59 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-146d4d02 */.elementor-1133 .elementor-element.elementor-element-146d4d02{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1133 .elementor-element.elementor-element-146d4d02 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1133 .elementor-element.elementor-element-146d4d02 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1133 .elementor-element.elementor-element-146d4d02 a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-545b0be5 */.elementor-1133 .elementor-element.elementor-element-545b0be5{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1133 .elementor-element.elementor-element-545b0be5 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1133 .elementor-element.elementor-element-545b0be5 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1133 .elementor-element.elementor-element-545b0be5 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1133 .elementor-element.elementor-element-545b0be5 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1133 .elementor-element.elementor-element-545b0be5 a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-41592a48 */.elementor-1133 .elementor-element.elementor-element-41592a48{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1133 .elementor-element.elementor-element-41592a48 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1133 .elementor-element.elementor-element-41592a48 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1133 .elementor-element.elementor-element-41592a48 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1133 .elementor-element.elementor-element-41592a48 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1133 .elementor-element.elementor-element-41592a48 a:hover::before {
  opacity: 1;
}/* End custom CSS */