.elementor-1690 .elementor-element.elementor-element-42f0a40b{--spacer-size:58px;}.elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button:hover, .elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button:hover svg, .elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1690 .elementor-element.elementor-element-8e4e9d7 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1690 .elementor-element.elementor-element-6dc5a9d{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1690 .elementor-element.elementor-element-6dc5a9d .elementor-divider-separator{width:100%;}.elementor-1690 .elementor-element.elementor-element-6dc5a9d .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1690 .elementor-element.elementor-element-4a01ffbc{text-align:center;}.elementor-1690 .elementor-element.elementor-element-4a01ffbc .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-size:59px;font-weight:600;}.elementor-1690 .elementor-element.elementor-element-5b1f7409{text-align:center;}.elementor-1690 .elementor-element.elementor-element-5b1f7409 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:600;}.elementor-1690 .elementor-element.elementor-element-7e6fd240 .wpr-featured-media-wrap{text-align:center;}.elementor-1690 .elementor-element.elementor-element-7e6fd240 .wpr-featured-media-image{width:279px;}.elementor-1690 .elementor-element.elementor-element-7e6fd240 .wpr-featured-media-image img{width:100%;}.elementor-1690 .elementor-element.elementor-element-7e6fd240 .wpr-featured-media-caption span{color:#333333;background-color:#ffffff;padding:5px 10px 5px 10px;margin:10px 10px 10px 10px;border-style:none;border-radius:3px 3px 3px 3px;}.elementor-1690 .elementor-element.elementor-element-7e6fd240 .wpr-featured-media-caption{transition-duration:0.1s;align-items:flex-end;justify-content:center;}.elementor-1690 .elementor-element.elementor-element-2d107845{--spacer-size:50px;}.elementor-1690 .elementor-element.elementor-element-1d5bbe56{text-align:center;}.elementor-1690 .elementor-element.elementor-element-1d5bbe56 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1690 .elementor-element.elementor-element-1d5bbe56 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1690 .elementor-element.elementor-element-3ecb4e0d > .elementor-container{max-width:1600px;}.elementor-1690 .elementor-element.elementor-element-7a72f6da{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1690 .elementor-element.elementor-element-7a72f6da .elementor-divider-separator{width:100%;}.elementor-1690 .elementor-element.elementor-element-7a72f6da .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1690 .elementor-element.elementor-element-54a13cd3 > .elementor-container{max-width:1000px;}.elementor-1690 .elementor-element.elementor-element-3c62a622{text-align:center;}.elementor-1690 .elementor-element.elementor-element-3c62a622 .elementor-heading-title{color:#FFFFFF;font-family:"Teko", Sans-serif;font-size:21px;font-weight:600;}.elementor-1690 .elementor-element.elementor-element-3c62a622 > .elementor-widget-container{margin:-19px 0px 0px 0px;}.elementor-1690 .elementor-element.elementor-element-383e0a46 > .elementor-container{max-width:1117px;}.elementor-1690 .elementor-element.elementor-element-37d2ae91{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1690 .elementor-element.elementor-element-37d2ae91 .elementor-divider-separator{width:100%;}.elementor-1690 .elementor-element.elementor-element-37d2ae91 .elementor-divider{padding-top:38px;padding-bottom:38px;}.elementor-1690 .elementor-element.elementor-element-61e1b92b{text-align:center;}.elementor-1690 .elementor-element.elementor-element-61e1b92b .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1690 .elementor-element.elementor-element-51abbab0 .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1690 .elementor-element.elementor-element-51abbab0 .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1690 .elementor-element.elementor-element-51abbab0 .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-51abbab0 .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1690 .elementor-element.elementor-element-51abbab0 .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1690 .elementor-element.elementor-element-51abbab0 .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-5c96050d{text-align:center;}.elementor-1690 .elementor-element.elementor-element-5c96050d .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1690 .elementor-element.elementor-element-2837801c .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1690 .elementor-element.elementor-element-2837801c .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1690 .elementor-element.elementor-element-2837801c .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-2837801c .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1690 .elementor-element.elementor-element-2837801c .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1690 .elementor-element.elementor-element-2837801c .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-bf9b5a2{text-align:center;}.elementor-1690 .elementor-element.elementor-element-bf9b5a2 .elementor-heading-title{color:#FFFFFF;font-family:"Staatliches", Sans-serif;font-weight:600;}.elementor-1690 .elementor-element.elementor-element-c37d30 .ha-dual-btn{padding:25px 25px 25px 25px;}.elementor-1690 .elementor-element.elementor-element-c37d30 .ha-dual-btn--left{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:10px 0px 0px 10px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1690 .elementor-element.elementor-element-c37d30 .ha-dual-btn--left:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-c37d30 .ha-dual-btn-connector{color:#FFFFFF;background-color:#D900FF;font-family:"Staatliches", Sans-serif;font-size:13px;font-weight:400;}.elementor-1690 .elementor-element.elementor-element-c37d30 .ha-dual-btn--right{padding:15px 25px 15px 20px;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FF12DF;border-radius:0px 10px 10px 0px;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;color:#FF12DF;background-color:#02010100;}.elementor-1690 .elementor-element.elementor-element-c37d30 .ha-dual-btn--right:hover{color:#FFFFFF;background-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-dc4913a{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-1690 .elementor-element.elementor-element-dc4913a .elementor-divider-separator{width:100%;}.elementor-1690 .elementor-element.elementor-element-dc4913a .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-1690 .elementor-element.elementor-element-2554f032 > .elementor-container{max-width:500px;}.elementor-1690 .elementor-element.elementor-element-29362d3d .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1690 .elementor-element.elementor-element-29362d3d .elementor-button:hover, .elementor-1690 .elementor-element.elementor-element-29362d3d .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-29362d3d .elementor-button:hover svg, .elementor-1690 .elementor-element.elementor-element-29362d3d .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1690 .elementor-element.elementor-element-29362d3d > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1690 .elementor-element.elementor-element-2bbcb531 .elementor-button{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:inline-flex;font-family:"Staatliches", Sans-serif;font-size:20px;font-weight:500;fill:#FF12DF;color:#FF12DF;background-color:#FF12DF00;border-style:solid;border-width:3px 3px 3px 3px;border-color:#FF12DF;border-radius:10px 10px 10px 10px;}.elementor-1690 .elementor-element.elementor-element-2bbcb531 .elementor-button:hover, .elementor-1690 .elementor-element.elementor-element-2bbcb531 .elementor-button:focus{color:#FFFFFF;background-color:#FF12DF;border-color:#FF12DF;}.elementor-1690 .elementor-element.elementor-element-2bbcb531 .elementor-button:hover svg, .elementor-1690 .elementor-element.elementor-element-2bbcb531 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-1690 .elementor-element.elementor-element-2bbcb531 > .elementor-widget-container{padding:-8px -8px -8px -8px;}.elementor-1690 .elementor-element.elementor-element-653bc3b4{--spacer-size:342px;}@media(min-width:768px){.elementor-1690 .elementor-element.elementor-element-589005c2{width:35%;}.elementor-1690 .elementor-element.elementor-element-63a37085{width:65%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1690 .elementor-element.elementor-element-63a37085{width:63%;}}@media(min-width:1025px){.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);}}@media(max-width:1024px){.elementor-1690 .elementor-element.elementor-element-63a37085 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1690 .elementor-element.elementor-element-63a37085 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 38px;}.elementor-1690 .elementor-element.elementor-element-54a13cd3 > .elementor-container{max-width:600px;}.elementor-1690 .elementor-element.elementor-element-3c62a622 > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--tablet-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--tablet-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--tablet-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--tablet-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}}@media(max-width:767px){.elementor-1690 .elementor-element.elementor-element-8e4e9d7 .elementor-button{padding:7px 7px 7px 7px;}.elementor-1690 .elementor-element.elementor-element-8e4e9d7 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1690 .elementor-element.elementor-element-6dc5a9d .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1690 .elementor-element.elementor-element-5b1f7409{text-align:center;}.elementor-1690 .elementor-element.elementor-element-5b1f7409 .elementor-heading-title{font-size:11px;}.elementor-1690 .elementor-element.elementor-element-63a37085 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-1690 .elementor-element.elementor-element-1d5bbe56 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1690 .elementor-element.elementor-element-7a72f6da .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1690 .elementor-element.elementor-element-54a13cd3 > .elementor-container{max-width:600px;}.elementor-1690 .elementor-element.elementor-element-3c62a622 .elementor-heading-title{font-size:16px;}.elementor-1690 .elementor-element.elementor-element-3c62a622 > .elementor-widget-container{margin:-12px 0px 0px 0px;}.elementor-1690 .elementor-element.elementor-element-37d2ae91 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-1690 .elementor-element.elementor-element-61e1b92b .elementor-heading-title{font-size:24px;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1690 .elementor-element.elementor-element-51abbab0.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1690 .elementor-element.elementor-element-5c96050d .elementor-heading-title{font-size:24px;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1690 .elementor-element.elementor-element-2837801c.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1690 .elementor-element.elementor-element-bf9b5a2 .elementor-heading-title{font-size:24px;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--mobile-layout-queue .ha-dual-btn--left{margin-right:calc(0px/2);margin-bottom:0;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--mobile-layout-stack .ha-dual-btn--left{margin-bottom:calc(0px/2);margin-right:0;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--mobile-layout-queue .ha-dual-btn--right{margin-left:calc(0px/2);margin-top:0;}.elementor-1690 .elementor-element.elementor-element-c37d30.ha-dual-button--mobile-layout-stack .ha-dual-btn--right{margin-top:calc(0px/2);margin-left:0;}.elementor-1690 .elementor-element.elementor-element-dc4913a .elementor-divider{padding-top:2px;padding-bottom:2px;}}/* Start custom CSS for button, class: .elementor-element-8e4e9d7 */.elementor-1690 .elementor-element.elementor-element-8e4e9d7{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1690 .elementor-element.elementor-element-8e4e9d7 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1690 .elementor-element.elementor-element-8e4e9d7 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1690 .elementor-element.elementor-element-8e4e9d7 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1690 .elementor-element.elementor-element-8e4e9d7 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1690 .elementor-element.elementor-element-8e4e9d7 a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4a01ffbc *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1690 .elementor-element.elementor-element-4a01ffbc h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5b1f7409 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1690 .elementor-element.elementor-element-5b1f7409 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-1d5bbe56 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1690 .elementor-element.elementor-element-1d5bbe56 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-61e1b92b *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1690 .elementor-element.elementor-element-61e1b92b h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-51abbab0 */.elementor-1690 .elementor-element.elementor-element-51abbab0{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1690 .elementor-element.elementor-element-51abbab0 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1690 .elementor-element.elementor-element-51abbab0 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1690 .elementor-element.elementor-element-51abbab0 a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5c96050d *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1690 .elementor-element.elementor-element-5c96050d h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-2837801c */.elementor-1690 .elementor-element.elementor-element-2837801c{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1690 .elementor-element.elementor-element-2837801c a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1690 .elementor-element.elementor-element-2837801c a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1690 .elementor-element.elementor-element-2837801c a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-bf9b5a2 *//*Glowing text only*/
:root{
    --glow: #ff12df;
}

.elementor-1690 .elementor-element.elementor-element-bf9b5a2 h2 {
	text-shadow: 0 0 10px var(--glow),
		 0 0 20px var(--glow),
		  0 0 40px var(--glow),
		   0 0 80px var(--glow),
		   0 0 160px var(--glow);
}/* End custom CSS */
/* Start custom CSS for ha-dual-button, class: .elementor-element-c37d30 */.elementor-1690 .elementor-element.elementor-element-c37d30{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1690 .elementor-element.elementor-element-c37d30 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}

/* GLOWING HOVER EFFECT */
.elementor-1690 .elementor-element.elementor-element-c37d30 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1690 .elementor-element.elementor-element-c37d30 a:hover::after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-29362d3d */.elementor-1690 .elementor-element.elementor-element-29362d3d{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1690 .elementor-element.elementor-element-29362d3d a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1690 .elementor-element.elementor-element-29362d3d a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1690 .elementor-element.elementor-element-29362d3d a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1690 .elementor-element.elementor-element-29362d3d a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1690 .elementor-element.elementor-element-29362d3d a:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-2bbcb531 */.elementor-1690 .elementor-element.elementor-element-2bbcb531{
    --color: #FF00D5;
}
/* NEON LIGHT GLOW */
.elementor-1690 .elementor-element.elementor-element-2bbcb531 a{
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
    box-shadow: inset 0 0 0.5em 0 var(--color), 0 0 0.5em 0 var(--color);
    transition: box-shadow 2s !important;
    position: relative;
}
 

/* GLOWING HOVER EFFECT */
.elementor-1690 .elementor-element.elementor-element-2bbcb531 a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--color);
    opacity: 0;
    transition: opacity 100ms linear;
}
.elementor-1690 .elementor-element.elementor-element-2bbcb531 a:hover::after{
    opacity: 1;
}
 


/* BUTTON REFLECTION */
.elementor-1690 .elementor-element.elementor-element-2bbcb531 a::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
}
.elementor-1690 .elementor-element.elementor-element-2bbcb531 a:hover::before {
  opacity: 1;
}/* End custom CSS */